.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label > :is(input, textarea) {
    background-color: $primary-color-variant;
    color: $secondary-color;
    border: 0;
    padding: 0.5rem;
    border-radius: $basic-radius;
    box-shadow: $basic-shadow;
    resize: none;
    transition: background-color .3s ease-in-out;

}

.label > :is(input, textarea):is(:focus-within) {
    background-color: $primary-color;
}