$primaryColor: #070707;
$primaryColor: #0f0f0f;
$primaryColorVariant: #101010;
$secondaryColor: #ffffff;
$secondaryColorVariant: #ffffff26;
$accentColor: rgb(123 45 195);
$websitePadding: 7.5vw;
$basicRadius: 5px;

