$primary-color: #070707;
$primary-color: #0f0f0f;
$primary-color-variant: #101010;

$secondary-color: #ffffff;
$secondary-color-variant: #ffffff26;

$accent-color: rgb(123 45 195);
$accent-color-variant: rgb(123, 45,195, .3);

$website-padding: 7.5vw;
$basic-radius: 5px;

$basic-shadow: 0 0 2px $secondary-color-variant;


