.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



    & > form{
        width: auto;
        min-width: min(300px, 100%);
    }

    & > :last-child {
        margin-left: auto;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    padding: 1rem 0;
    gap: 1.5rem;

    @media screen and (min-width: 1500px) {
        & {
            grid-template-columns: repeat(4, 1fr);
        }
    }


}
