.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > form{
        width: auto;
        min-width: min(300px, 100%);
    }

    & > :last-child {
        margin-left: auto;
        width: -moz-fit-content;
        width: fit-content;
    }
}

