.threeDText {
    font-family: verdana;
    font-size: 6rem;
    font-weight: 700;
    color: var(--accent-color);
    position: relative;
    text-shadow: -3px 2px var(--secondary-color);
}

.smaller {
    font-size: 3.1rem;
    text-shadow: -1px 2px var(--secondary-color);
}