.footer  {
    display: grid;
    padding: 5vh $website-padding * 2;
    background: linear-gradient(to right, $gradiant-color);
    border-top: 1px solid $secondary-color-variant;
    gap: 3.5rem;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;

        ul {
            line-height: 1.75;
    
            .link {
                opacity: .7;
                transition: opacity .3s ease-in-out;
                outline: none;
                margin-bottom: 0.2rem;
    
                &:is(:hover, :focus-within) {
                    opacity: 1;
                }
            }

            
            &:not(.socials) {
                .link {
                    @extend .underlineAnim;
                }
            }
            
            &.socials {
                display: flex;
                gap: 1rem;
                    
                svg {
                    margin-top: 5px;
                    height: 5vh;
                    border: 1px solid $secondary-color;
                    border-radius: 50%;
                    fill: $secondary-color;
                    padding: 1px;
                    transition: transform .3s;
                    
                }
                .link:is(:hover, :focus-within) svg {
                    transform: scale(1.1) translateY(-5px);
                }
            }
    
        }
    }

    div:last-child {          
        display: grid;
        place-items: center;
        row-gap: 0.1rem;
        font-size: 0.7rem;
        line-height: 1.25;
    }

    strong {
        font-size: 1.25rem;
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 0.7rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }


}