.slider {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 2.65rem;


    & > div {
        position: relative;

        .slidesContainer {
            overflow: hidden;

            .sliderWrapper {
                display: flex;
                overflow: hidden;
                transition: transform .4s cubic-bezier(0.455, 0.03, 0.715, 0.95);

                & > * {
                    width: 100%;
                    aspect-ratio: 1/1;
                    display: block;
                }
            }
        }

        .controls {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 7.5rem);
            display: flex;

            & > .left {
                margin-right: auto;
            }
            & > .right {
                margin-left: auto;
            }
        }
    }

    ul {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

}
