.about{
    @extend .section;
    
    @include about();

    .programming-languages {
        margin-top: 5vh;
        display: grid;
        place-items: center;
        gap: 5rem;

        article {
            width: clamp(min(300px, 100%), 80vw , 800px);
        }
    }

    section:last-child {
        margin-top: 5vh;
    }
}