.hero {
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.index h1 {
    font-size: 5rem;
    transform: skewX(7.5deg);
    line-height: 0.8;
    padding: 1rem;
}

.index h1 span:last-child {
    font-size: 2.75rem;
}