
.card {
    border-radius: $basic-radius;
    position: relative;
    max-width: calc(100vw - $website-padding * 2);
    transition: transform 1s cubic-bezier(.03,.98,.52,.99);
    overflow: hidden;
    
    &::after, &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        user-select: none;
        border-radius: inherit;
        opacity: 0;
        transition: opacity .4s ease;
    }
    
    &::after{
        background: radial-gradient(500px circle at var(--data-light-x) var(--data-light-y), $accent-color-variant, transparent 70%);
        z-index: 3;
    }
    &::before{
        background: radial-gradient(200px circle at var(--data-light-x) var(--data-light-y), $secondary-color, transparent 70%);
        z-index: 1;
    }
    
    &:is(:hover, :focus-within) {        
        &::after, &::before {
            opacity: 1;
        }
    }

    .link {
        display: grid;
        overflow: hidden;
        place-items: center;
        position: relative;
        margin: 1.5px;
        z-index: 2;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border: inherit;
            pointer-events: none;
            transform-origin: center;
            transition: 
                filter .4s cubic-bezier(0.39, 0.575, 0.565, 1),
                transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        h3 {
            opacity: 0;
            position: absolute;
            text-align: center;
            transform: translateY(25px);
            transition: all .3s ease-in-out;
            z-index: 10;
            
            span {
                font-size: 1.5rem;
                display: block;
            }
        }
    
        &:is(:hover, :focus) {
            img {
                filter: brightness(.25);
                transform: scaleX(1.035);
            }

            h3 {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

