.card {
    border-radius: $basic-radius;
    border: inset 1px transparent;
    max-width: calc(100vw - $website-padding * 2);
    box-shadow: 0 0 2px $secondary-color-variant;
    transition: transform 1s cubic-bezier(.03,.98,.52,.99), border-color .3s ease-in-out;

    &:hover {
        border-color: $secondary-color-variant;
    }
    .link {
        display: grid;
        overflow: hidden;
        place-items: center;
        position: relative;
        border-radius: inherit;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border: inherit;
            pointer-events: none;
            transform-origin: center;
            transition: filter .4s cubic-bezier(0.39, 0.575, 0.565, 1), transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        h3 {
            opacity: 0;
            position: absolute;
            text-align: center;
            transform: translateY(25px);
            transition: all .3s ease-in-out;
        }
    
        &:is(:hover, :focus) img {
            filter: brightness(.3);
            transform: scaleX(1.035);
            
        }

        &:is(:hover, :focus) h3 {
            opacity: 1;
            transform: translateY(0);
        }
    }
   
}

