.projectWrapperContainer {
    min-height: 65vh;
    padding: 1rem 0;
}

.projectWrapperContainer .projectWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

@media screen and (min-width: 1875px) {
    .projectWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}