.btn {
    padding: 0.4rem 1rem;  
    border: 1px solid $primary-color-variant;
    background-color: $primary-color-variant;
    letter-spacing: 2px;
    border-radius: $basic-radius;
    box-shadow: 0 0 2px  $secondary-color-variant;
    border: 1px solid transparent;   
    text-shadow: 0 1.5px #101015;
    filter: opacity(.5);
    transform: skewX(5deg);
    transition: all .3s ease-in-out;

    &:is(.active, :hover, :focus) {
        filter: opacity(1);
        color: $secondary-color;
        border-color: $secondary-color-variant;
    } 
    &.active {
        background-color: $accent-color;
    }
}

