.slider {    
    padding: 3vh 0;
    max-width: 100%;
    min-width: 100%;


    & > div {
        position: relative;
        width: 100%;
        overflow: hidden;
        width: 100%;
            
        .sliderWrapper {
            display: flex;
            width: 100%;
            transform: translateX(var(--translateX));
            transition: transform .4s cubic-bezier(0.455, 0.03, 0.715, 0.95);
            
            figure {
                display: grid;
                place-items: center;
                min-width: 100%;
                
                & > * {
                    max-height: 60vh;
                    object-fit: contain;
                }
            }
        }
        

        .controls {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            display: flex;

            & > .left {
                margin-right: auto;
            }
            
            & > .right {
                margin-left: auto;
            }
        }
    }

    
    ul {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
