.header {
    width: clamp(35px, 5vw, 50px);
    background: linear-gradient(to top, $gradiant-color);
    position: relative;  
    border-right: 1px solid $secondary-color-variant;

    ul {
        position: sticky;
        top:50%;
        transform: translateY(-50%);
        display: grid;
        place-items: center;

        a {
            transform: skewX(0);
            max-width: 100%;
            display: block;
            padding: .5rem;
            aspect-ratio: 1/1;
            border-radius: 0;
            
            svg {
                width: 100%;
                fill: $secondary-color;
                stroke-width: .5;
            }
        }
    }
}