
@mixin smaller() {
    padding: 0;

    span {
        width: 0;
        margin-left: 0;
    }    
}

a.headerLink {
    transform: skewX(0);
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem max(.5rem, 5.5vw) .5rem .5rem ;
    border-radius: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    span {
        width: 12ch;
        margin-left: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: width .5s ease, opacity .5s ease-in, margin-left .5s ease;
    }
    
    svg {
        padding: .5rem;
        width: clamp(40px, 5vw, 50px);
        fill: $secondary-color;
        stroke-width: .5;
    }     
    
    &.smaller { 
        @include smaller();
    }

    
    @media screen and (max-width: 750px) {
        @include smaller();
    }
}